arrow==0.12.1
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
boto3==1.9.16
botocore==1.12.16
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
docutils==0.14
idna==2.7
jmespath==0.9.3
more-itertools==4.3.0
pbr==4.3.0
pluggy==0.7.1
py==1.6.0
pycparser==2.19
pylxd==2.2.7
pytest==3.8.2
pytest-mock==1.10.0
python-dateutil==2.7.3
requests==2.19.1
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
s3transfer==0.1.13
six==1.11.0
systemd-python==234
urllib3==1.23
ws4py==0.5.1
